* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*      typography */

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-alfa: "Poppins", sans-serif;

    --color-first: #94B1BC;
    --color-second: #FBFBFB;
    --color-third: #0A0F12;

}

body {
    font-family: var(--font-alfa);
    background: var(--color-third);
    color: var(--color-second);
}